<template>
    <el-container>
    <div class="main-container">
        <div class="title-bar">
            <!--nav bar 左側資料-->
            <div class="title-bar__name">
                <eva-icon
                    name="menu-2"
                    animation="pulse"
                    fill="#fff"
                    height="100%"
                    @click="sideBarMotion"
                    class="trigger-button"
                ></eva-icon>
                <span style="cursor: pointer" @click="$router.push('/home')">{{ $t('project_name') }}</span>
            </div>
            <!--nav bar 右側資料 -> login and logout-->
            <div class="title-bar__login-message" :class="{login_situation: !login_button_show}">
                <div v-if="!login_button_show">
                    <span class="title-bar_login-id">{{ $t('system_user') }}：{{system_id}}</span>
                </div>
                <time>
                    <span class="title-bar_time">{{clock}}</span>
                </time>
                <div :sm="1" class="title-bar_logout">
                    <eva-icon name="log-out" animation="pulse" fill="#fff" height="100%" @click="logOut"></eva-icon>
                </div>
            </div>

        </div>
        <!--side bar-->
        <div style="display: flex;width: 100%;height: 95%">
            <div class="sidebar-menu">
                <el-menu
                    class="sidebar-menu_list"
                    text-color="#fff"
                    :collapse="isCollapse"
                    active-text-color="#fff"
                    background-color="#32323a"
                    :router="true"
                >
                    <el-menu-item index="/home">
                        <i class="el-icon-user-solid sidebar-menu-list_icon"></i>
                        <span slot="title">{{ $t('first_side_bar') }}</span>
                    </el-menu-item>
                    <el-menu-item index="/loan_list">
                        <i class="el-icon-files sidebar-menu-list_icon"></i>
                        <span slot="title">{{ $t('second_side_bar') }}</span>
                    </el-menu-item>
                </el-menu>
            </div>
            <div class="service-area" :class="{width100: !isCollapse}">
                <transition
                    enter-active-class=""
                >
                    <el-main>
                        <router-view></router-view>
                        <!--Test-->
                    </el-main>
                </transition>
            </div>
        </div>
        <!--        <modals></modals>-->
    </div>
    </el-container>
</template>

<script>
    export default {
        name: "Home",
        data() {
            this.$i18n.locale = 'en'; //切換語系
            return {
                isCollapse: true,
                user_name: '',
                system_id: "",
                clock: '',
                login_button_show: false,
            };
        },
        mounted() {
            //顯示時間
            this.startTime();
        },
        computed: {
        },
        methods: {
            //目錄開收function
            sideBarMotion() {
                this.isCollapse = !this.isCollapse;
            },
            //登出
            logOut() {
                sessionStorage.removeItem('user_email');
                this.axios.get('user/logout')
                    .then(res => {
                        this.$router.push('/')
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            startTime() {
                let today = new Date();
                let h = today.getHours();
                let m = today.getMinutes();
                let s = today.getSeconds();
                let yyyy = today.getFullYear();
                let mm = today.getMonth() + 1;
                let dd = today.getDate();
                mm = this.checkTime(mm);
                dd = this.checkTime(dd);
                m = this.checkTime(m);
                s = this.checkTime(s);
                h = this.checkTime(h);

                this.clock = yyyy + '-' + mm + '-' + dd + '  ' + h + ":" + m + ":" + s;
                setTimeout(this.startTime, 1000);
            },
            checkTime(i) {
                if (i < 10) {
                    i = "0" + i
                }
                // add zero in front of numbers < 10
                return i;
            },
        },
    }
</script>

<style lang="scss">
    @import "resources/assets/sass/_home.scss";
</style>
