<template>
    <div class="login-outer-background">
        <div class="outer-color-block-1">
            <div class="outer-color-block-2">
            </div>
        </div>
        <div class="login-panel-container">
            <el-col :span="15">
                <div class="input-area">
                    <el-row>
                        <el-col :span="24">
                            <h1 class="input-area-title">${{ $t('project_name') }}</h1>
                        </el-col>
                    </el-row>
                    <el-form ref="form" label-width="118px">
                        <el-row type="flex" justify="center">
                            <el-col :xs="24" :sm="24" :md="18" :lg="16" :xl="14">
<!--                            <el-col :span="15" :offset="3">-->
                                <el-form-item label="{{ $t('login_account') }}： " label-width="" class="input-area__account">
                                    <el-input v-on:change="modify=true" @keyup.enter.native="onSubmit" placeholder="{{ $t('login_account_tag') }}" v-model="user_email" clearable></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="center">
                            <el-col :xs="24" :sm="24" :md="18" :lg="16" :xl="14">
<!--                            <el-col :span="15" :offset="3">-->
                                <el-form-item label="{{ $t('login_password') }}： " label-width="" class="input-area__account">
                                    <el-input v-on:change="modify=true" @keyup.enter.native="onSubmit" placeholder="{{ $t('login_password_tag') }}" v-model="user_password" show-password clearable></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row type="flex" justify="center">
                            <el-col :xs="24" :sm="24" :md="18" :lg="16" :xl="14">
                                <el-button class="input-area__button" @click="onSubmit">{{ $t('login') }}</el-button>
                            </el-col>
                        </el-row>
                    </el-form>
                </div>
            </el-col>
            <el-col :span="9">
                <div class="title-area">
                    <div class="logo-icon"></div>
                </div>
            </el-col>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                modify: false,
                user_email: "",
                user_password: ""
            };
        },
        // mounted(){
        //     let token = localStorage.getItem('token');
        //     if(token) {
        //         this.$router.push('/');
        //     }
        // },
        methods: {
            onSubmit() {
                if (this.modify === false) {
                    return;
                }

                if (this.user_email === '') {
                    this.$alert('请输入帐号', '讯息', {
                        confirmButtonText: '确定',
                    });
                    return;
                }

                if (this.user_password === '') {
                    this.$alert('请输入密码', '讯息', {
                        confirmButtonText: '确定',
                    });
                    return;
                }

                axios.post('user/login', {
                    email: this.user_email,
                    password: this.user_password
                }).then(res => {
                    sessionStorage.setItem('user_email', this.user_email);
                    sessionStorage.setItem('user_name', res.data.return_data);
                    this.$router.push('/home');
                }).catch(err => {
                    this.modify = false;
                    this.$alert('帐号或密码输入错误', '讯息', {
                        confirmButtonText: '确定',
                    });
                })
            }
        }
    };
</script>
<style lang="scss">
    @import "resources/assets/sass/_reset.scss";
    @import "resources/assets/sass/_login.scss";
</style>
