<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: "MyApp.vue",
        data() {
            return {}
        },
    }
</script>

<style  lang="scss">
    @import "resources/assets/sass/_reset.scss";
    * {
        margin: 0;
    }
</style>
