@import './_variable.scss';
@import "font";

.main-container {
  width: 100%;
  height: 100vh;
  .loading-background {
    position: fixed;
    z-index: 2006;
    width: 100vw;
    height: 100vh;
    background-color: $modal-bg;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title-bar {
    background: rgb(40, 40, 46);
    position: relative;
    display: flex;
    padding: 0 1%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    min-height: 46px;
    height: 5%;
    font-size: 1rem;
    font-family: 微軟正黑體;
    color: #fff;
    font-weight: 600;
    .title-bar__name {
      min-width: 280px;
      display: flex;
      height: 100%;
      align-items: center;
      .trigger-button {
        margin: 0.2rem 1rem 0 0;
      }
      .title-bar_time, .title-bar_login-id {
        padding-right: 1rem;
        width: 100%;
        text-align: right;
      }

      .el-col {
        height: 100%;
        display: flex;
        align-items: center;
      }

      .eva-hover {
        // width: 100%;
        height: 100%;
      }
    }
    .title-bar__login-message {
      height: 100%;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title-bar-login-message__name-area{
        height: 100%;
        display: flex;
        .user-name {
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
        }
      }
      &.login_situation{
        width: 30%;
      }
    }
  }
}


.sidebar-menu {
  .el-menu--collapse {
    height: 100%;
    min-width: 3vw;
  }
  .sidebar-menu_list {
    .sidebar-menu-list_icon {
      color: #fff;
      line-height: 56px;
    }
    &:not(.el-menu--collapse) {
      width: 10vw;
      height: 100%;
    }
  }
  .el-menu {
    .el-menu-item {
      min-width: 0;
    }
  }
}

.service-area {
  position: relative;
  width: 97vw;
  height: 100%;
  overflow-y: scroll;
}

.service-area.width100{
  width: 90vw;
}