@import './_variable.scss';


.list-type-title {
    font-size: 1rem;
    text-align: left;
    color: #4e5458;
}

.el-icon-arrow-down {
  &.filter-icon {
    color: #909399;
    font-size: 12px;
    transform: scale(.75);
  }
}

.note-area {
    .el-row {
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
    .el-col {
        padding: 0;
    }
}
