#loan_dialog_container {
    .el-form-item {
        &.read-item-center {
            .el-form-item__content {
                margin-top: 5px;
            }
        }
    }

    .el-form-item__content {
        .item-content {
            position: absolute;
            top:50%;
            transform: translate(0%, -50%);
            &.item-content__loan {
                line-height: 1rem;
            }
        }

        .form-currency-rate {
            margin-bottom: 11px;
        }
    }

    .el-dialog__header {
        border-bottom: 1px solid #EBEEF5;
    }

    .el-dialog__body {
        padding: 30px 50px 0px 20px;
    }

    .el-dialog__footer {
        padding: 10px 50px 50px;
    }

    @media screen and (max-width: 1488px) {
        .currency-radios {
            .el-radio {
                width: 50%;
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 1040px) {
        .currency-radios {
            .el-radio {
                width: 100%;
                margin-right: 0;
            }
        }
    }

    @media screen and (max-width: 1308px) {
        .repayment-type {
            .el-radio {
                width: 100%;
                margin-right: 0;
            }
        }
    }
}
