@import './_variable.scss';

.note-text {
    font-size: 12px;
}

.list-type-title {
    font-size: 1rem;
    text-align: left;
    color: #4e5458;
}

//.el-checkbox-button:first-child .el-checkbox-button__inner
.el-checkbox-button {
    &:first-child {
        &.check-all-btn {
            margin-right: 12px;
        }
    }

}

.status-area {
    margin-bottom: 22px;
}
