@import './_variable.scss';
@import "font";

.loan-content {
  margin-top: 20px;
}

//新增貸款 bar
.loan-bar {
  //background-color: lightblue;
  box-shadow: 0px 0px 9px gray;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  position: relative;
  margin: 0 auto;

  .loan-bar-icon {
    float: left;
    border-style: solid;
    width: fit-content;
    margin-top: 15px;

    .back-to-last-page {
      margin-top: 2px;
      margin-left: 5px;
      font-size: 20px;
      font-weight: bolder;
      color: #00abff;
    }

    .loan-bar-font {
      color: black;
      margin-left: 5px;
    }
  }
}

//模組抬頭
.loan-title {
  border-radius: 5px;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #EBEBFF;
  height: 40px;
}

//loan setting form
.create-loan-form, .loan-detail {
  margin: 0 auto;
  width: 85%;
  .loan-detail-message{
    display: flex;
    justify-content: space-between;
  }
}

.radio {
  padding-top: 18px;
}

.manager-loan-info, .exchange-rate-info, .repayment-date {
  padding-left: 10px;
  height: 40px;
}

.loan-amount-input, .exchange-rate-input, .rate-setting-input {
  width: 40%;
}

.loan-number-input {
  width: fit-content;
}

.special-operation-btn {
  margin-left: 10px;
}

.additional-info {
  float: right;
  margin-right: 10px;
}

.additional-info-title {
  float: left;
}


//.div-loan-info {
//    border-width: 1px;
//    border-style: solid;
//    width: 140px;
//    height: 50px;
//    -webkit-border-radius: 4px;
//    -moz-border-radius: 4px;
//    border-radius: 4px;
//    margin-right: 20px;
//    .loan-info-title {
//        background-color: #DCDFE6;
//        height: 20px;
//        text-align: right;
//        padding-top: 2px;
//        padding-right: 5px;
//    };
//    .loan-info-content {
//        text-align: right;
//        padding-top: 3px;
//        padding-right: 5px;
//    }
//}
.el-card {
  &.brief-loan-info {
    width: 100%;
    border-radius: 6px;
    &.el-card-header_red{
      .el-card__header{
        background-color: #f56c6c;
        color: white;
      }
    }
    .el-card__header {
      padding: 10px 20px;
      background-color: #DCDFE6;
    }
    .loan-info-content{
      text-align: right;
      padding-top: 3px;
      padding-right: 5px;
    }
  }
}

.brief-loan-info-row{
  display: flex;
  justify-content: flex-end;
}

.brief-loan-info-row:nth-child(2) {
  margin-top: 30px;
}

.brief-loan-info-wrap{
  padding: 0 0 0 7%;
}
@media screen and (max-width: 1200px) {
  .brief-loan-info-wrap{
    padding: 0 7% 0 0 ;
  }
}
.el-icon-arrow-down {
  &.filter-icon {
    color: #909399;
    font-size: 12px;
    transform: scale(.75);
  }
}

.loan-detail-header {
  display: flex;
  align-items: center;
}

.repayment-date-area {
  padding: 0;
}
