.list-pagination {
  margin-top: 22px;
  .el-pagination__jump {
    position: relative;
    top: -2px;
    .is-in-pagination{
      .el-input__inner{
        //height: auto;
        position: relative;
        top: 2px;
      }
    }
  }
}

