$theme-color: #589AB3;
$input-panel-bgcolor: rgba(#6FC4E3, 0.5);
$home-sidebar-menu-bg: #315663;
$modal-bg: rgba(#315663, 0.8);
$modal-font-color: #fff;
$table-icon-red: #FF6275;
$table-icon-yellow: #F5A623;
$table-icon-green: #22D38F;

$table-shadow-color: rgba(100, 100, 100, 0.3);