@import 'variable.scss';
@import "font";

.id-manage-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .id-manage-title {
    margin: 2% 0 2%;
    align-items: center;
    h1 {
      text-align: center;
      color: $theme-color;
      font-size: 2rem;
    }
  }
  .el-button+.el-button {
    margin-left: 0;
  }
  .el-button {
    background-color: $theme-color;
    color: $modal-font-color;
    &.id-disable {
      background-color: #f56c6c;
      display: none;
      &.show {
        display: inline-block;
      }
    }
    &.id-enable {
      background-color: #67c23a;
      display: none;
      &.show {
        display: inline-block;
      }
    }
    &.table-button {
      border-radius: 5px;
    }

    &:hover {
      color: $modal-font-color;

    }
  }
  .search-result {
    padding: 1% 0;
    margin: 0 5%;
    .el-table {
      box-shadow: 0 0 10px $table-shadow-color;
    }
    .search-result__status {
      text-align: center;
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
  }
  .search-list-container {
    .el-form {
      margin-top: 1%;
      .el-form-item {
        text-align: left;
        .el-form-item__content {
          width: 80%;
        }
      }
    }
  }
}