@import 'variable.scss';
@import "font";

.ip-database-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .ip-database-title {
    text-align: center;
    color: $theme-color;
    padding: 20px 0 10px;
    h1 {
      font-size: 2rem;
    }
  }
  .el-button {
    background-color: $theme-color;
    color: $modal-font-color;

    &:hover {
      color: $modal-font-color;
    }
  }
  .column-ip-export-setting-area {
    padding: 0 10%;
    display: flex;
    justify-content: center;
  }
  .search-result {
    padding: 3rem 0;
    margin: 0 3rem;
    .el-table {
      box-shadow: 0 0 10px $table-shadow-color;
    }
    .el-table__empty-block {
      height: auto !important;
      width: 100% !important;
    }
  }
  .pagination {
    text-align: center;
    position: relative;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%)
  }
}