@import './_variable.scss';
@import "font";
.login-outer-background {
  width: 100%;
  min-width: 1680px;
  height: 100vh;
  min-height: 800px;
  position: relative;
  background-color: lighten($theme-color, 20%);
  .outer-color-block-1 {
    width: 100%;
    height: 100%;
    background-color: lighten($theme-color, 10%);
    clip-path: polygon(0 0, 40% 0, 60% 100%, 0 100%);
  }
  .outer-color-block-2 {
    width: 100%;
    height: 100%;
    background-color: darken($theme-color, 10%);
    clip-path: polygon(0 0, 35% 0, 60% 100%, 0 100%);
  }
  .login-panel-container {
    position: absolute;
    min-width: 1344px;
    display: flex;
    align-items: center;
    min-height: 800px;
    height: 100vh;
    top: 0;
    left: 10%;
    right: 10%;
    .input-area {
      // background-color: red;
      background-image: radial-gradient(
        circle at 0% 0%,
        lighten($input-panel-bgcolor, 20%) 30%,
        darken($input-panel-bgcolor, 30%)
      );
      min-height: 600px;
      height: 60vh;
      box-shadow: -3px 3px 20px rgb(78, 78, 78);
      padding: 10% 5%;
      .input-area-title {
        color: #fff;
        font-size: 3rem;
        text-align: center;
        padding-bottom: 10%;
      }
      .input-area__account {
        .el-form-item__label {
          font-size: 1.5em;
          color: #fff;
          min-width: 118px;
          margin-bottom: 3%;
        }
      }
      .input-area__button.el-button {
        background-color: darken($input-panel-bgcolor, 10%);
        // background-color: #94FFFF;
        width: 100%;
        font-size: 1em;
        color: #fff;
        border: 1px solid #fff;
        &:hover {
          box-shadow: 0px 0px 5px #fff;
        }
      }
    }
    .title-area {
      // position: relative;
      // padding-top: 10%;
      display: flex;
      align-items: center;
      min-width: 504px;
      background-color: darken($theme-color, 10%);
      // background: no-repeat center url('../assets/login-inner-background-image.jpg');
      // background-size: cover;
      // filter:opacity(20%);
      min-height: 700px;
      height: 70vh;
      box-shadow: -10px 5px 10px rgba(78, 78, 78, 0.5);
      .logo-icon {
        width: 100%;
        height: 80%;
        min-height: 450px;
        background: no-repeat center url("/images/chungyo-logo.png"),
          no-repeat center url("/images/login-inner-background-image.png");
        background-size: cover;
      }
      h1 {
        position: relative;
        width: 100%;
        font-size: 3em;
        text-align: center;
        padding: 0;
        margin-top: 5%;
        // color: lighten($input-panel-bgcolor, 20%);
      }
    }
  }
}