@import "variable";
@import "font";

.column-setting-modal {
  margin-top: 10px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  .description {
    width: 100%;
    padding-left: 30%;
    margin-bottom: 1rem;
  }
  .el-button {
    background-color: $theme-color;
    color: $modal-font-color;
    font-size: inherit;
    &:hover {
      color: $modal-font-color;
    }
  }

  .el-dialog__wrapper {
    background-color: $modal-bg;

    .el-dialog {
      background-color: rgba(0, 0, 0, 0);
      background-image: radial-gradient(
                      circle at 0% 0%,
                      lighten($input-panel-bgcolor, 20%) 30%,
                      darken($input-panel-bgcolor, 30%)
      );
      .el-dialog__close {
        color: $modal-font-color;
      }

      .el-dialog__title {
        color: $modal-font-color;
      }

      .el-form {
        padding: 1rem 2rem;
        .el-form-item__content {
          .el-select{
            &.bind-emails {
              width: 100%;
            }
          }
        }
        .el-checkbox {
          min-width: 200px;
          margin: 0.5rem 1rem;
          color: $modal-font-color;
        }

        .el-checkbox__input.is-checked .el-checkbox__inner {
          background-color: $modal-bg;
          border-color: $modal-bg;
        }

        .el-checkbox__input.is-checked + .el-checkbox__label {
          color: $modal-bg;
        }

        .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
          background-color: $modal-bg;
          border-color: $modal-bg;
        }

        .el-radio {
          margin: 0.5rem 1rem;
          color: $modal-font-color;
        }

        .el-radio__input.is-checked {
          .el-radio__inner {
            background-color: $modal-bg;
            border-color: $modal-bg;
          }
        }

        .el-radio__input.is-checked + .el-radio__label {
          color: $modal-bg;
        }
      }

      .el-form-item__label {
        color: $modal-font-color;
      }

      .el-dialog__body {
        color: $modal-font-color;

        .el-checkbox__label {
          color: $modal-font-color;
          font-size: 1.2rem;
        }

        .el-radio__label {
          color: $modal-font-color;
          font-size: 1.2rem;
        }

        h1 {
          padding: 1rem 0;
          text-align: center;
          font-size: 1.5rem;
        }
        .language-area {
          .language-area__simple-chinese{
            .el-radio__label{
              font-family: 'Noto Sans SC', sans-serif;
            }
          }
        }
      }

      .modal-container__submit {
        background-color: darken($input-panel-bgcolor, 10%);
      }

      .modal-container__cancel {
        background-color: grey;
      }
    }
  }

}

.id-login-area {
  padding: 0 10%;
  margin-bottom: 10px;
  .id-login-area__switch {
    text-align: right;
    position: absolute;
    top: 1.5%;
    right: 3rem;
    #id_login_area_logout{
      background-color: #f56c6c;
    }
    #id_login_area_modal_switch {
      background-color: #67c23a;
    }
  }
  .id-login-area__input {
    display: flex;
    span {
      width: 10%;
      line-height: 3;
    }
  }
}

.column-ip-export-setting-area {
  height: 5%;
  margin-top: 10px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}



//.modal-container {
//  visibility: visible;
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100vw;
//  height: 100vh;
//  background-color: $modal-bg;
//
//  .el-form-item__label {
//    color: $modal-font-color;
//    font-size: 1rem;
//  }
//
//  .modal-container__sample {
//    h1 {
//      text-align: center;
//      font-size: 1.5rem;
//      padding: 0 1rem;
//    }
//    position: fixed;
//    padding-top: 3rem;
//    min-width: 420px;
//    color: $modal-font-color;
//    top: 25%;
//    background-image: radial-gradient(
//                    circle at 0% 0%,
//                    lighten($input-panel-bgcolor, 10%) 30%,
//                    darken($input-panel-bgcolor, 20%)
//    );
//    box-shadow: 0 0 10px rgb(78, 78, 78);
//  }  .modal-container__sample {
//    h1 {
//      text-align: center;
//      font-size: 1.5rem;
//      padding: 0 1rem;
//    }
//    position: fixed;
//    padding-top: 3rem;
//    min-width: 420px;
//    color: $modal-font-color;
//    top: 25%;
//    background-image: radial-gradient(
//                    circle at 0% 0%,
//                    lighten($input-panel-bgcolor, 10%) 30%,
//                    darken($input-panel-bgcolor, 20%)
//    );
//    box-shadow: 0 0 10px rgb(78, 78, 78);
//  }  .modal-container__sample {
//    h1 {
//      text-align: center;
//      font-size: 1.5rem;
//      padding: 0 1rem;
//    }
//    position: fixed;
//    padding-top: 3rem;
//    min-width: 420px;
//    color: $modal-font-color;
//    top: 25%;
//    background-image: radial-gradient(
//                    circle at 0% 0%,
//                    lighten($input-panel-bgcolor, 10%) 30%,
//                    darken($input-panel-bgcolor, 20%)
//    );
//    box-shadow: 0 0 10px rgb(78, 78, 78);
//  }
//
//  .modal-container__button-area {
//    text-align: right;
//
//    .el-button {
//      color: $modal-font-color;
//
//      &:hover {
//        box-shadow: 0 0 2px #fff;
//      }
//    }
//
//    .modal-container__submit {
//      background-color: darken($input-panel-bgcolor, 10%);
//      margin-left: 40%;
//    }
//
//    .modal-container__cancel {
//      background-color: grey;
//    }
//  }
//
//  .el-form {
//    padding: 1rem 2rem;
//    .el-checkbox {
//      margin:0.5rem 1rem;
//      color: $modal-font-color;
//    }
//    .el-checkbox__input.is-checked .el-checkbox__inner {
//      background-color: $modal-bg;
//      border-color: $modal-bg;
//    }
//    .el-checkbox__input.is-checked+.el-checkbox__label {
//      color: $modal-bg;
//    }
//    .el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
//      background-color: $modal-bg;
//      border-color: $modal-bg;
//    }
//    .el-radio {
//      margin: 0.5rem 1rem;
//      color: $modal-font-color;
//    }
//    .el-radio__input.is-checked {
//      .el-radio__inner{
//        background-color: $modal-bg;
//        border-color: $modal-bg;
//      }
//    }
//    .el-radio__input.is-checked+.el-radio__label{
//      color: $modal-bg;
//    }
//  }
//  .button-area.el-form{
//    display: flex;
//    justify-content: space-around;
//    .el-button {
//      color: $modal-font-color;
//
//      &:hover {
//        box-shadow: 0 0 2px #fff;
//      }
//    }
//    .modal-container__sample-cancel {
//      background-color: grey;
//    }
//    .modal-container__sample-submit {
//      background-color: darken($input-panel-bgcolor, 10%);
//    }
//  }
//  #ip_export_modal.modal-container__sample {
//    padding: 2rem 0 0 0;
//  }
//  #column_setting_modal.modal-container__sample {
//    padding-bottom: 2rem;
//  }
//  //控制modal開關
//  #id_login_modal {
//    visibility: hidden;
//  }
//
//  #ip_export_modal {
//    visibility: hidden;
//  }
//  #column_setting_modal {
//    visibility: hidden;
//  }
//
//
//
//
//}
