@import './_variable.scss';
@import "font";

.search-list-container {
  text-align: center;
  padding: 2% 5% 0.5%;
  margin: 0 3rem;
  background-color: $home-sidebar-menu-bg;
  .search-list__header {
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: $modal-font-color;
  }
  .rule-message {
    font-size: 0.5rem;
    color: red;
    margin-bottom: 1rem;

    &.hide {
      display: none;
    }
  }

  .el-form {
    display: flex;
    .el-form-item {
      margin-right: 2%;

      .el-form-item__label {
        font-size: 1rem;
        text-align: left;
        color: #fff;
      }
      .el-form-item__content {
        .el-date-editor--daterange{
          &.el-input__inner{
            width: 100%
          }
        }
        .search-list__ip-radio.el-radio {
          margin: 0 0 0 5%;
        }
      }
    }
  }

  .el-select {
    width: 100%;
  }

  .id-login {
    margin-bottom: 5rem;
  }

  .el-range-separator {
    width: 8%;
  }
}
